.btnBack{
    display: flex;
    align-items: center;
    width: 120px;
    height: 21px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    background-color: transparent;
    border: none;
}
.btnSvg{
    display: flex;
    justify-content: center;
    align-items: center;
}